@import "mixins.less";

@beige-1: #e8aa8b;
@beige-2: #ebbaa0;
@beige-3: #eecbb6;
@beige-4: #f1dbcb;
@beige-5: #d4bbb6;
@purple-1: #997a8c;
@purple-2: #b69aa1;
@blue-1: #0049ff;

@ui-padding: 25px;

@navbar-width: 72vw;
@navbar-spacing: 12vw;

@margin-inverse-lg: -150px;
@margin-inverse-md: -100px;
@margin-inverse-sm: -25px;

body,html {
	background: transparent;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/*******************
Typography
*******************/

@font-face {
	font-family: 'Neou Bold';
	src: url('/fonts/Neou-Bold.eot');
	src: url('/fonts/Neou-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Neou-Bold.woff2') format('woff2'),
		url('/fonts/Neou-Bold.woff') format('woff'),
		url('/fonts/Neou-Bold.ttf') format('truetype'),
		url('/fonts/Neou-Bold.svg#Neou-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

/* Patternist title */
.title {
	font-family: 'Neou Bold';
	font-size: 100px;
	letter-spacing: 5px;
	text-align: center;
	color: transparent;
	text-align: center;
	-webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #FFF;
	.medium-viewport({
		font-size: 60px;
	});
	.small-viewport({
		font-size: 32px;
	});
	margin: 0;
	padding: 0;
}

/* Patternist title */
.title-sm {
	font-family: 'Neou Bold';
	font-size: 54px;
	letter-spacing: 5px;
	text-align: center;
	color: transparent;
	text-align: center;
	padding: 0;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFF;
	.medium-viewport({
		font-size: 34px;
	});
	.small-viewport({
		font-size: 20px;
	});
}


h1 {
	font-family: 'Archivo';
	font-size: 92px;
	letter-spacing: -6px;
	color: #FFF;
	padding: 0;
	margin: 0;
	.medium-viewport({
		font-size: 34px;
	});
	.small-viewport({
		font-size: 34px;
	});
}

p, a, blockquote, ul, li {
	font-family: 'Heebo';
	font-weight: 300;
}

h2,h3,h4,h5,h6 {
	font-family: 'Archivo';
	font-weight: 500;
	color: #FFF;
	letter-spacing: -1.5px;
	z-index: 98;
}

p {
	font-size: 18px;
	font-weight: 100;
	color: #FFF;
	z-index: 100;
	a {
		text-decoration: underline;
		text-decoration-style: dotted;
		color: #FFF;
		&:hover, &:active,&:focus,&:visited {
			text-decoration: underline;
			text-decoration-style: dotted;
			color: #FFF;			
		}
	}
	.small-viewport({
		font-size: 16px;
	});
}

.flesh {
	color: @beige-1;
}

/*******************
Components
*******************/

.container {
	display: block;
	width: 85vw;
	margin: 0 auto;
	padding: (@ui-padding*2) 0;
	.small-viewport({
		width: 90vw;
	});
}

img {
	max-width: 100%;
	height: auto;
	z-index: 99;
	margin-bottom: @ui-padding;
	.small-viewport({
		margin-bottom: @ui-padding/2;
	});
}

img.lazy {
	background: transparent;
}

iframe {
	display: block;
	margin: 0 auto;
	max-width: 80vw;
	max-height: 45vw;
}

.btn-group {
	border-radius: 0;
	margin: @ui-padding 0;
}

.btn {
	padding: @ui-padding/2 @ui-padding;
	font-family: 'Heebo';
}

.btn-primary {
	background: #FFF;
	color: #000;
    border: medium solid #fff;
    border-radius: 0;
    &:hover, &:active, &:focus {
    	background-color: #FFF !important;
    	border: medium solid #fff !important;
    	color: #000 !important;
    	cursor: auto;
    	outline: none !important;
    }
}

.btn-secondary {
	background: transparent;
	color: #FFF;
    border: medium solid #fff;
    border-radius: 0;
    &:hover, &:active, &:focus {
    	background: #FFF !important;
    	color: #000 !important;
    	outline: none !important;
    }
}

/*******************
Sections
*******************/

section {
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100vh;
}

section.sm {
	min-height: 0;
}

section.black {
	background: #000; 
}

section.gray {
	background: #444;
}

section.blue {
	background: @blue-1;
}

.gray-overlay {
    background-color: rgba(50, 50, 50, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
}

section.landing {
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    vertical-align: middle;
	height: 100%;
    border-bottom: thick solid #fff;
    #infinite {
		margin-top: -100px;
    }
}


section.feature-3 {
	background: @blue-1;
	background: url(/images/10builduprender2.png) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    vertical-align: middle;
	height: 100vh;
}

section.feature-6 {
	background: url(/images/slipso.png) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    vertical-align: middle;
    z-index: 10;
	height: 100%;
}

section.feature-3d {
	background: url(/images/3d.png) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    vertical-align: middle;
    z-index: 10;
	height: 100%;
}


.trailer {
	margin-top: @margin-inverse-md;
	margin-bottom: @ui-padding*2;
	// box-shadow: 3px 3px 20px 2px rgba(255,255,255, .5);
}

#download {
	#ios {
		height: 50px;
	}
	#itch {
		margin: 0;
		padding: 0;
		img {
			height: 45px;
			margin: 0;
		}
	}
}

#infinite {
	max-height: 60vh;
	display: block;
	margin: 0 auto;
}

/******************
Layouts
******************/

.layout-center {
	h1 {
		text-align: center;
		margin-bottom: @margin-inverse-md;
		.small-viewport({
			margin-bottom: @margin-inverse-sm/2;
		});
	}
}

.layout-left {
	.text {
		margin-top: @margin-inverse-lg;
		.small-viewport({
			margin-top: 0;
		});
	}
}

.text-margin {
	margin-bottom: @ui-padding*2;
}

.title-right {
	margin-bottom: @margin-inverse-md;
}

.text-lg {
	margin-top: -50vh;
}

.image-fade {
	opacity: 0.5;
}

.center {
	text-align: center;
}

.parent-element {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/***************
NAVBAR
***************/

.navbar {
	background: transparent;
	margin: 0;
	padding: @ui-padding auto;
	.container {
		padding: 0;
		width: @navbar-width;
		.small-viewport({
			width: 90vw;
		});
	}
}

.nav > li > a {
	background-color: #000;
    border-top: thick solid #000;
    color: #FFF !important;
    font-size: 14px;
	font-weight: 700;
}

.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active {
	background-color: #000;
    border-top: thick solid #fff;
    color: #FFF;
}

.navbar-nav {
	li {
		width: @navbar-spacing;
		.small-viewport({
			width: auto;
		});
	}
}

.navbar-brand {
	font-family: 'Neou Bold';
	color: #fff !important;
	letter-spacing: 2px;
	width: @navbar-spacing;
	border-top: thick solid #000;
	&:hover {
		border-top: thick solid #fff;
	}
	.small-viewport({
		width: auto;
	});
}

.navbar-toggle {
	padding-top: 14px;
	padding-bottom: 0;
	border: none;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:active {
	background: transparent;
}