@import "mixins.less";

@beige-1: #e8aa8b;
@beige-2: #ebbaa0;
@beige-3: #eecbb6;
@beige-4: #f1dbcb;
@beige-5: #d4bbb6;
@purple-1: #997a8c;
@purple-2: #b69aa1;
@blue-1: #0049ff;

@ui-padding: 25px;
@ui-padding-wide: 70px;

body,html {
	background: transparent;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/*******************
Typography
*******************/

@font-face {
	font-family: 'Neou Bold';
	src: url('/fonts/Neou-Bold.eot');
	src: url('/fonts/Neou-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Neou-Bold.woff2') format('woff2'),
		url('/fonts/Neou-Bold.woff') format('woff'),
		url('/fonts/Neou-Bold.ttf') format('truetype'),
		url('/fonts/Neou-Bold.svg#Neou-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family:"Vera Humana 95";
	src:url("/fonts/verah.eot?") format("eot"), 
	url("/fonts/verah.woff") format("woff"),
	url("/fonts/verah.ttf") format("truetype"),
	url("/fonts/verah.svg#VeraHumana95") format("svg");
	font-weight:normal;
	font-style:normal;
}

/* Patternist title */
.title {
	font-family: 'Neou Bold';
	font-size: 148px;
	text-align: center;
	background: url(/images/weedeater.jpg) no-repeat center center;
	background-size: cover;
	color: @beige-1;
	text-align: center;
	-webkit-text-fill-color: transparent; /* overrides the white text color in webkit browsers */
	-webkit-background-clip: text;
	.medium-viewport({
		font-size: 72px;
	});
	.small-viewport({
		font-size: 48px;
	});
}

p, a, blockquote, ul, li {
	font-family: 'Vera Humana 95';
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Rajdhani';
	font-weight: 700;
	color: @beige-5;
	text-transform: uppercase;
	text-align: center;
}


p {
	font-size: 24px;
	font-weight: 700;
	color: @blue-1;
}


/*******************
Sections
*******************/

.parent-element {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

section {
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100vh;
}

section.feature {
	background: url(/images/feature.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    vertical-align: middle;
    z-index: 10;
	height: 100%;
}

section.center {
	p {
		text-align: center;
	}
}

section.light {
	background: @beige-5;
}

section.medium {
	background: @beige-3;
}

section.dark {
	background: @beige-1;
	h1,h2,h3,h4,h5,h6 {
		color: @purple-1;
	}
}

section.blue {
	background: @blue-1;
	p {
		color: @beige-1;
	}
}

section.purple {
	background: @purple-1;
	p {
		color: @beige-5;
	}
}

section.feature-2 {
	background: url(/images/feature-moons.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

section.feature-3 {
	background: url(/images/feature-moon.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

section.feature-4 {
	background: url(/images/card.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

section.feature-5 {
	background: url(/images/weedeater.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

section.feature-6 {
	background: url(/images/landscape-feature.png) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

.container {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 100px 0;
}

/*******************
UI
*******************/

.dials {
	position: fixed;
	bottom: @ui-padding;
	right: @ui-padding;
	width: auto;
	img {
		display: inline;
		margin-left: -10px;
		cursor: pointer;
	}
}

.dial-ring {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.dial-ring:hover {
  top: -30px;
}

.ui {
	position: fixed;
	z-index: 9;
}

#ui-right {
	position: fixed;
	top: @ui-padding-wide;
	right: @ui-padding;
	height: 50vh;
	width: auto;
}

#ui-left {
	position: fixed;
	top: @ui-padding-wide;
	left: @ui-padding;
	height: 60vh;
	max-height:100%;
	width: auto;
}

#ui-toggle {
	position: fixed;
	top: @ui-padding;
	left: @ui-padding-wide;
	height: 10vh;
	width: auto;
}

#ui-wasd {
	position: fixed;
	bottom: @ui-padding;
	left: @ui-padding;
	width: auto;
}
