@import "mixins.less";

@beige-1: #e8aa8b;
@beige-2: #ebbaa0;
@beige-3: #eecbb6;
@beige-4: #f1dbcb;
@beige-5: #d4bbb6;
@purple-1: #997a8c;
@purple-2: #b69aa1;
@blue-1: #0049ff;

@ui-padding: 25px;

@navbar-width: 85vw;
@navbar-spacing: 12vw;

@margin-inverse-lg: -150px;
@margin-inverse-md: -100px;
@margin-inverse-sm: -35px;

body,html {
	background: transparent;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/*******************
Typography
*******************/

@font-face {
	font-family: 'Aileron Bold';
	src: url('/fonts/Aileron-Bold.eot');
	src: url('/fonts/Aileron-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Aileron-Bold.woff') format('woff'),
		url('/fonts/Aileron-Bold.ttf') format('truetype'),
		url('/fonts/Aileron-Bold.svg#Aileron-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Aileron Bold Italic';
	src: url('/fonts/Aileron-BoldItalic.eot');
	src: url('/fonts/Aileron-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Aileron-BoldItalic.woff') format('woff'),
		url('/fonts/Aileron-BoldItalic.ttf') format('truetype'),
		url('/fonts/Aileron-BoldItalic.svg#Aileron-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Aileron';
	src: url('/fonts/Aileron-Regular.eot');
	src: url('/fonts/Aileron-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Aileron-Regular.woff') format('woff'),
		url('/fonts/Aileron-Regular.ttf') format('truetype'),
		url('/fonts/Aileron-Regular.svg#Aileron-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aileron Italic';
	src: url('/fonts/Aileron-Italic.eot');
	src: url('/fonts/Aileron-Italic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Aileron-Italic.woff') format('woff'),
		url('/fonts/Aileron-Italic.ttf') format('truetype'),
		url('/fonts/Aileron-Italic.svg#Aileron-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}



h1 {
	font-family: 'Aileron Bold';
	font-size: 72px;
	letter-spacing: -2px;
	color: #FFF;
	padding: 0;
	margin: 0;
	.medium-viewport({
		font-size: 34px;
	});
	.small-viewport({
		font-size: 34px;
	});
}

p, a, blockquote, ul, li {
	font-family: 'Aileron';
	font-weight: 400;
}

h2,h3,h4,h5,h6 {
	font-family: 'Aileron Bold';
	color: #FFF;
	z-index: 98;
}

p {
	font-family: 'Aileron';
	font-size: 18px;
	font-weight: 400;
	color: #FFF;
	z-index: 100;
	a {
		text-decoration: underline;
		text-decoration-style: dotted;
		color: #FFF;
		&:hover, &:active,&:focus,&:visited {
			text-decoration: underline;
			text-decoration-style: dotted;
			color: #FFF;			
		}
	}
	.small-viewport({
		font-size: 16px;
	});
}

.flesh {
	color: @beige-1;
}

/***************
NAVBAR
***************/

.navbar {
	background: #000;
	margin: 0;
	padding: @ui-padding auto;
	position: fixed;
	width: 100%;
	.container {
		padding: 0;
		width: @navbar-width;
		.small-viewport({
			width: 90vw;
		});
	}
	z-index: 101;
}

.nav > li > a {
	background-color: #000;
    border-top: thick solid #000;
    color: #FFF !important;
    font-size: 18px;
	font-weight: 400;
}

.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active {
	background-color: #000;
    border-top: thick solid #fff;
    color: #FFF;
}

.navbar-nav {
	li {
		width: @navbar-spacing;
		.small-viewport({
			width: auto;
		});
	}
}

.navbar-brand {
	font-family: 'Aileron Bold';
	color: #fff !important;
	letter-spacing: 9px;
	width: 300px;
	border-top: thick solid #000;
	&:hover {
		border-top: thick solid #fff;
	}
	.small-viewport({
		width: auto;
	});
}

.navbar-toggle {
	padding-top: 14px;
	padding-bottom: 0;
	border: none;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:active {
	background: transparent;
}

.navbar-right {
	text-align: right;
	padding-right: 0;
	margin-right: 0;
}

/*******************
Components
*******************/

.container {
	display: block;
	width: 85vw;
	margin: 0 auto;
	padding: (@ui-padding*2) 0;
	.small-viewport({
		width: 90vw;
	});
}

img {
	max-width: 100%;
	height: auto;
	z-index: 99;
	margin-bottom: @ui-padding;
	.small-viewport({
		margin-bottom: @ui-padding/2;
	});
}

img.lazy {
	background: transparent;
}

iframe {
	display: block;
	margin: 0 auto;
	max-width: 80vw;
	max-height: 45vw;
}

.btn-group {
	border-radius: 0;
	margin: @ui-padding 0;
}

.btn {
	padding: @ui-padding/2 @ui-padding;
	font-family: 'Heebo';
}

.btn-primary {
	background: #FFF;
	color: #000;
    border: medium solid #fff;
    border-radius: 0;
    &:hover, &:active, &:focus {
    	background-color: #FFF !important;
    	border: medium solid #fff !important;
    	color: #000 !important;
    	cursor: auto;
    	outline: none !important;
    }
}

.btn-secondary {
	background: transparent;
	color: #FFF;
    border: medium solid #fff;
    border-radius: 0;
    &:hover, &:active, &:focus {
    	background: #FFF !important;
    	color: #000 !important;
    	outline: none !important;
    }
}

.local {
    display: block;
    position: relative;
    top: -54px !important;
    visibility: hidden;
}

a {
	i {
		text-decoration: none;
		color: #FFF;
		margin-right: @ui-padding;
		&:hover, &:active,&:focus,&:visited {
			text-decoration: none;
			color: #FFF;			
		}
	}
}

/*******************
Sections
*******************/

section {
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100vh;
}

section.sm {
	min-height: 0;
}

section.black {
	background: #000; 
}

section.gray {
	background: #444;
}

section.blue {
	background: @blue-1;
}

section.landing {
	height: 100%;
    border-bottom: thick solid #fff;
    background: url(/images/landing.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    vertical-align: middle;
	height: 100%;
	#infinite {
		margin-top: -100px;
    }
}

section.feature-3 {
	background: @blue-1;
	background: url(/images/10builduprender2.png) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    vertical-align: middle;
	min-height: 100%;
}

section.feature-6 {
	background: url(/images/slipso.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    vertical-align: middle;
	min-height: 100%;
}

section.feature-3d {
	background: url(/images/3d.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	min-height: 100%;
}

section.ariphade {
	background: url(/images/elements.jpg) no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	min-height: 100%;
}


section.trading {
	background: url(/images/storm.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	min-height: 100%;
}

.trailer {
	margin-top: @margin-inverse-md;
	margin-bottom: @ui-padding*2;
}

.phone {
	width: 80%;
	border-radius: 15px;
	margin: @ui-padding auto;
}

#infinite {
	max-height: 60vh;
	display: block;
	margin: 0 auto;
}



/******************
Layouts
******************/

.layout-center {
	h1 {
		text-align: center;
		margin-bottom: @margin-inverse-md;
		.small-viewport({
			margin-bottom: @margin-inverse-sm/2;
		});
	}
}

.layout-left {
	.text {
		margin-top: @margin-inverse-md;
		.small-viewport({
			margin-top: 0;
		});
	}
}

.text-margin {
	margin-bottom: @ui-padding*2;
}

.title-right {
	margin-bottom: @margin-inverse-sm;
}

.text-lg {
	margin-top: -50vh;
}

.image-fade {
	opacity: 0.5;
}

.center {
	text-align: center;
}

.parent-element {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.trading {
	h1 {
		//margin-bottom: @margin-inverse-md;
	}
}